PORT=3000
MONGO_URI=mongodb://localhost:27017/burgerhub
JWT_SECRET=super_secret_change_me
JWT_EXPIRES_IN=7d
REDIS_HOST=localhost
REDIS_PORT=6379


for docker:

PORT=3000
MONGO_URI=mongodb://mongo:27017/burgerhub
JWT_SECRET=super_secret_change_me
JWT_EXPIRES_IN=7d
REDIS_HOST=redis
REDIS_PORT=6379

